# Ignore all files.
*
*/**

# Include the following files.
!node_modules/vscode-debugadapter/**/*
!node_modules/vscode-debugprotocol/**/*
!out/debugAdapter.js
!out/extension.js
!out/MyEngineLuaDebug.js
!snippets/snippets.json
!CHANGELOG.md
!package.json
!README.md
